<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Search</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <style>
        h1 {
            font-family: 'Roboto Condensed';
            font-size: 50px;
            font-weight: bolder;
            color: white;
        }
        </style>
</head>
<body class="text-center">

    <!-- <a href="index.html"><img class="" src="/icon.png" height="100px" alt="logo"></a> -->
    <h1 class="mb-3 mt-5">Hero search</h1>
    <div class="form-floating searchbar">
        <form action="/hero" method="post">
            <input type="search" class=" form-control  px-3 mt-2" name="hero" id="floating-input"
                placeholder="Heroes unite!">
           <p class="error" th:text= ${error}> </p>
            <button class="mt-3 mb-5 btn btn-primary w-50" type="submit">
                Search
            </button>
        </form>
    </div>


</body>
</html>